@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Open sans';
    src: 
         url('./fonts/OpenSans-VariableFont.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
  }

  @font-face {
    font-family: 'Cormorant Upright';
    src: 
         url('./fonts/CormorantUpright-Bold.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
  }

.open-sans {
    font-family: 'Open sans';
}

.cormorant-upright {
    font-family: 'Cormorant Upright';
}